<a href="https://colab.research.google.com/github/ravi-kiran-iiml/my_git/blob/master/enumerator.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
from google.colab import files
uploaded = files.upload()

Saving bank-full.csv to bank-full.csv

In [22]:
import io
import pandas as pd

df = pd.read_csv(io.BytesIO(uploaded['bank-full.csv']))
df.head(10)

   age           job   marital  education  ... pdays  previous poutcome   y
0   58    management   married   tertiary  ...    -1         0  unknown  no
1   44    technician    single  secondary  ...    -1         0  unknown  no
2   33  entrepreneur   married  secondary  ...    -1         0  unknown  no
3   47   blue-collar   married    unknown  ...    -1         0  unknown  no
4   33       unknown    single    unknown  ...    -1         0  unknown  no
5   35    management   married   tertiary  ...    -1         0  unknown  no
6   28    management    single   tertiary  ...    -1         0  unknown  no
7   42  entrepreneur  divorced   tertiary  ...    -1         0  unknown  no
8   58       retired   married    primary  ...    -1         0  unknown  no
9   43    technician    single  secondary  ...    -1         0  unknown  no

[10 rows x 17 columns]

In [23]:
print(df['job'].values)

['management' 'technician' 'entrepreneur' ... 'retired' 'blue-collar'
 'entrepreneur']

In [26]:
from collections import Counter


def enumerator(inputcol, col_enum):
  col_count = Counter(df[inputcol])
  col_cat = list(col_count.keys())
  col_cat_index = list(range(len(col_cat)))
  col_dict = dict(zip(col_cat, col_cat_index))

  list_original = df[inputcol].values
  list_enum = []
  for i in range(len(list_original)):
    for key, value in col_dict.items():
      if list_original[i] == key:
        list_enum.append(value)

  df[col_enum] = list_enum
  return
      

enumerator('job', 'job_enum')
enumerator('marital', 'marital_enum')
enumerator('education', 'education_enum')
enumerator('default', 'default_enum')
enumerator('housing', 'housing_enum')
enumerator('loan', 'loan_enum')
enumerator('contact', 'contact_enum')
enumerator('month', 'month_enum')
enumerator('poutcome', 'poutcome_enum')
enumerator('y', 'y_enum')

df.head(50)

    age            job   marital  ... month_enum poutcome_enum  y_enum
0    58     management   married  ...          0             0       0
1    44     technician    single  ...          0             0       0
2    33   entrepreneur   married  ...          0             0       0
3    47    blue-collar   married  ...          0             0       0
4    33        unknown    single  ...          0             0       0
5    35     management   married  ...          0             0       0
6    28     management    single  ...          0             0       0
7    42   entrepreneur  divorced  ...          0             0       0
8    58        retired   married  ...          0             0       0
9    43     technician    single  ...          0             0       0
10   41         admin.  divorced  ...          0             0       0
11   29         admin.    single  ...          0             0       0
12   53     technician   married  ...          0             0       0
13   58     technician   married  ...          0             0       0
14   57       services   married  ...          0             0       0
15   51        retired   married  ...          0             0       0
16   45         admin.    single  ...          0             0       0
17   57    blue-collar   married  ...          0             0       0
18   60        retired   married  ...          0             0       0
19   33       services   married  ...          0             0       0
20   28    blue-collar   married  ...          0             0       0
21   56     management   married  ...          0             0       0
22   32    blue-collar    single  ...          0             0       0
23   25       services   married  ...          0             0       0
24   40        retired   married  ...          0             0       0
25   44         admin.   married  ...          0             0       0
26   39     management    single  ...          0             0       0
27   52   entrepreneur   married  ...          0             0       0
28   46     management    single  ...          0             0       0
29   36     technician    single  ...          0             0       0
30   57     technician   married  ...          0             0       0
31   49     management   married  ...          0             0       0
32   60         admin.   married  ...          0             0       0
33   59    blue-collar   married  ...          0             0       0
34   51     management   married  ...          0             0       0
35   57     technician  divorced  ...          0             0       0
36   25    blue-collar   married  ...          0             0       0
37   53     technician   married  ...          0             0       0
38   36         admin.  divorced  ...          0             0       0
39   37         admin.    single  ...          0             0       0
40   44       services  divorced  ...          0             0       0
41   50     management   married  ...          0             0       0
42   60    blue-collar   married  ...          0             0       0
43   54        retired   married  ...          0             0       0
44   58        retired   married  ...          0             0       0
45   36         admin.    single  ...          0             0       0
46   58  self-employed   married  ...          0             0       0
47   44     technician   married  ...          0             0       0
48   55     technician  divorced  ...          0             0       0
49   29     management    single  ...          0             0       0

[50 rows x 27 columns]

In [27]:
print(df)

       age           job   marital  ... month_enum poutcome_enum  y_enum
0       58    management   married  ...          0             0       0
1       44    technician    single  ...          0             0       0
2       33  entrepreneur   married  ...          0             0       0
3       47   blue-collar   married  ...          0             0       0
4       33       unknown    single  ...          0             0       0
...    ...           ...       ...  ...        ...           ...     ...
45206   51    technician   married  ...          5             0       1
45207   71       retired  divorced  ...          5             0       1
45208   72       retired   married  ...          5             3       1
45209   57   blue-collar   married  ...          5             0       0
45210   37  entrepreneur   married  ...          5             2       0

[45211 rows x 27 columns]